@model IEnumerable<_23DH110826_MyStore.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    h2 {
    }

    p {
        text-decoration: none;
        color: black;
    }

    .table {
        width: 80%;
    }

    th, td {
        border: 1px solid black;
        background: #E7E9EB;
    }
</style>

<body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <h2> Category List </h2>

    <p class="create-new">
        @Html.ActionLink("Create New", "Create", new { @class = "test" })
    </p>


    <table class="table" border="1">
        <tr>
            <th style=" background: #E7E9EB;">
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>

            <th style=" background: #E7E9EB;">
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <th style=" background: #E7E9EB;">
                @Html.DisplayName("Edit")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>

                <td>
                    @Html.DisplayFor(model => item.CategoryID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID } , new {@class = "btn btn-primary"}) 
                    @Html.ActionLink("Details", "Details", new { id = item.CategoryID }, new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>
</body>
